#navbar
{
    font-size: larger;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(26, 26, 79);
    
}

nav{
    background-color: rgb(39, 106, 165);
}


a{
    text-decoration: none;
    color:rgb(10, 10, 92);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
}

a:hover
{
    color: rgb(148, 172, 226);
}